body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e0f7fa; /* Светло-голубой фон */
}


main {
    margin-bottom: 40px; 
    padding: 10px;
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}


footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.button-container {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1; /* Серый фон для кнопок */
    padding: 10px;
    border-radius: 5px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    margin: 0 5px;
}

.button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
}


.error {
    color: red; 
    font-weight: bold; 
    margin-left: 5px; 
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

