{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div class="button-container">
        <a href="{{ url_for('lab5.list') }}" class="button">Список статей</a>
        <a href="{{ url_for('lab5.create') }}" class="button">Создать статью</a>
        <a href="{{ url_for('lab5.login') }}" class="button">Войти</a>
        <a href="{{ url_for('lab5.register') }}" class="button">Регистрация</a>
    </div>
    <p>Имя пользователя: anonymous</p>
{% endblock %}

