body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 1000px;
    max-height: 600px;
    object-fit: contain;
}