<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Альбинас Гапшис.{% block lab %}{% endblock%} </title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>
    <main>
        {% block main %}{% endblock%}
    </main>
    <footer>
        &copy; 
        {% if name %}
            {{ name }},
        {% else %}
            Анонимус,
        {% endif %}
        {% if group %}
            {{ group }},
        {% else %}
            Ему повезло, 
        {% endif %}
        {% if kurs %}
            {{ kurs }},
        {% else %}
            он не поступил в НГТУ
        {% endif %}
        2024
    </footer>
</body>
</html>
