<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if name %}
                {{ name }},
            {% else %}
                Анонимус,
            {% endif %}. Лабораторная работа {{ number }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if number %}Лабораторная работа {{ number }}, {% endif %}
    </header>
    <main>
        5 + 2 = {{ calculation_1 }}<br>
        11 × 28 = {{ calculation_2 }}<br>
        8452 / 793 = {{ calculation_3 }}<br>
        45^8 = {{ calculation_4 }}<br>
    </main>
    <footer>
        &copy; 
        {% if name %}
            {{ name }},
        {% else %}
            Анонимус,
        {% endif %}
        {% if group %}
            {{ group }},
        {% else %}
            Ему повезло, 
        {% endif %}
        {% if kurs %}
            {{ kurs }},
        {% else %}
            он не поступил в НГТУ
        {% endif %}
        2024
    </footer>
</body>
</html>
