{% extends "base.html" %}

{% block lab %}База знаний{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div>
        Пользователь: 
        <strong>
            {% if login %}
                {{ login }}
            {% else %}
                Анонимус
            {% endif %}
        </strong>
    </div>
    <ol class="link-list">
        <div class="block"><a href="/lab8/login">Вход</a></div>
        <div class="block"><a href="/lab8/register">Регистрация</a></div>
        <div class="block"><a href="/lab8/articles">Список статей</a></div>
        <div class="block"><a href="/lab8/articles/create">Создать статью</a></div>
        <div class="block"><a href="/lab8/public_articles/">Публичные статьи</a></div>
        <form action="/lab8/logout" method="get">
            <button type="submit">Выйти</button>
        </form>
    </ol>
{% endblock %}